.cbh-phone {
    position: fixed;
    right: 20px;
    bottom: 20px;
    visibility: hidden;
    background-color: transparent;
    width: 200px;
    height: 200px;
    cursor: pointer;
    z-index: 99;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    transition: visibility .5s;
}

.cbh-phone.cbh-show {
    visibility: visible
}

.cbh-ph-circle {
    width: 110px;
    height: 110px;
    top: 40px;
    left: 40px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid var(--color-keppel-light);
    opacity: .5;
    -webkit-animation: cbh-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: cbh-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: cbh-circle-anim 1.2s infinite ease-in-out;
    -o-animation: cbh-circle-anim 1.2s infinite ease-in-out;
    animation: cbh-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

.cbh-phone.cbh-active .cbh-ph-circle {
    -webkit-animation: cbh-circle-anim 1.1s infinite ease-in-out!important;
    -moz-animation: cbh-circle-anim 1.1s infinite ease-in-out!important;
    -ms-animation: cbh-circle-anim 1.1s infinite ease-in-out!important;
    -o-animation: cbh-circle-anim 1.1s infinite ease-in-out!important;
    animation: cbh-circle-anim 1.1s infinite ease-in-out!important
}

.cbh-phone.cbh-static .cbh-ph-circle {
    -webkit-animation: cbh-circle-anim 2.2s infinite ease-in-out!important;
    -moz-animation: cbh-circle-anim 2.2s infinite ease-in-out!important;
    -ms-animation: cbh-circle-anim 2.2s infinite ease-in-out!important;
    -o-animation: cbh-circle-anim 2.2s infinite ease-in-out!important;
    animation: cbh-circle-anim 2.2s infinite ease-in-out!important
}

.cbh-phone:hover .cbh-ph-circle {
    border-color: var(--color-keppel);
    opacity: .8;
}

.cbh-ph-circle-fill {
    width: 74px;
    height: 74px;
    top: 58px;
    left: 58px;
    position: absolute;
    background-color: var(--glass-background);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid var(--glass-border);
    -webkit-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
    animation: cbh-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    backdrop-filter: blur(5px);
}

.cbh-phone.cbh-active .cbh-ph-circle-fill {
    -webkit-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out!important;
    -moz-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out!important;
    -ms-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out!important;
    -o-animation: cbh-circle-fill-anim 1.7s infinite ease-in-out!important;
    animation: cbh-circle-fill-anim 1.7s infinite ease-in-out!important
}

.cbh-phone.cbh-static .cbh-ph-circle-fill {
    -webkit-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out!important;
    -moz-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out!important;
    -ms-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out!important;
    -o-animation: cbh-circle-fill-anim 2.3s infinite ease-in-out!important;
    animation: cbh-circle-fill-anim 2.3s infinite ease-in-out!important;
}

.cbh-phone:hover .cbh-ph-circle-fill {
    background-color: var(--color-keppel);
    opacity: .75!important
}

.cbh-ph-img-circle1 {
    width: 50px;
    height: 50px;
    top: 70px;
    left: 70px;
    position: absolute;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAB/ElEQVR42uya7W3CMBCG31QM4A1aNggTlG6QbpBMkHYC1AloJ4BOABuEDcgGtBOETnD9c1ERCH/lwxeaV8oPFGP86Hy+DxMREW5Bd7gRjSDSNGn4/RiAOvm8C0ZCRD5PSkQVXSr1nK/xE3mcWimA1ZV3JYBZCIO4giQANoYxMwYS6+xKY4lT5dJPreWZY+uspqSCKPYN27GJVBDXheVSQe494ksiEWTuMXcu1dld9SARxDX1OAJ4lgjy4zDnFsC076A4adEiRwAZg4hOUSpNoCsBPDGM+HqkNGynYBCuILuWj+dgWysGsNe8nwL4GsrW0m2fxZBq9rW0rNcX5MOQ9eZD8JFahcG5g/iKT671alGAYQggpYWvpEPYWrU/HDTOfeRIX0q2SL3QN4tGhZJukVobQyXYWw7WtLDKDIuM+ZSzscyCE9PCy5IttCvnZNaeiGLNHKuz8ZVh/MXTVu/1xQKmIqLEAuJ0fNo3iG5B51oSkeKnsBi/4bG9gYB/lCytU5G9DryFW+3Gm+JLwU7ehbJrwTjq4DJU8bHcVbEV9dXXqqP6uqO5e2/QZRYJpqu2IUAA4B3tXvx8hgKp05QZW6dJqrLTNkB6vrRURLRwPHqtYgkC3cLWQAcDQGGKH13FER/NATzi786+BPDNjm1dMkfjn2pGkBHkf4D8DgBJDuDHx9BN+gAAAABJRU5ErkJggg==);
    background-size: 40px 40px;
    background-color: var(--glass-background);
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid var(--glass-border);
    opacity: 1;
    -webkit-animation: cbh-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: cbh-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: cbh-circle-img-anim 1s infinite ease-in-out;
    -o-animation: cbh-circle-img-anim 1s infinite ease-in-out;
    animation: cbh-circle-img-anim 1s infinite ease-in-out;
    backdrop-filter: blur(10px);
}

.cbh-phone.cbh-active .cbh-ph-img-circle1 {
    -webkit-animation: cbh-circle-img-anim 1s infinite ease-in-out!important;
    -moz-animation: cbh-circle-img-anim 1s infinite ease-in-out!important;
    -ms-animation: cbh-circle-img-anim 1s infinite ease-in-out!important;
    -o-animation: cbh-circle-img-anim 1s infinite ease-in-out!important;
    animation: cbh-circle-img-anim 1s infinite ease-in-out!important
}

.cbh-phone.cbh-static .cbh-ph-img-circle1 {
    -webkit-animation: cbh-circle-img-anim 0s infinite ease-in-out!important;
    -moz-animation: cbh-circle-img-anim 0s infinite ease-in-out!important;
    -ms-animation: cbh-circle-img-anim 0s infinite ease-in-out!important;
    -o-animation: cbh-circle-img-anim 0s infinite ease-in-out!important;
    animation: cbh-circle-img-anim 0s infinite ease-in-out!important
}

.cbh-phone:hover .cbh-ph-img-circle1 {
    background-color: var(--color-keppel-light);
}

@-moz-keyframes cbh-circle-anim {
    0% {
        -moz-transform: rotate(0deg) scale(0.5) skew(1deg);
        opacity: .1
    }
    30% {
        -moz-transform: rotate(0deg) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        -moz-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1
    }
}

@-webkit-keyframes cbh-circle-anim {
    0% {
        -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
        opacity: .1
    }
    30% {
        -webkit-transform: rotate(0deg) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1
    }
}

@keyframes cbh-circle-anim {
    0% {
        transform: rotate(0deg) scale(0.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0deg) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1
    }
}

@-moz-keyframes cbh-circle-fill-anim {
    0% {
        -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
    50% {
        -moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes cbh-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
    50% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
}

@keyframes cbh-circle-fill-anim {
    0% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
}

@keyframes cbh-circle-img-anim {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    100%,
    50% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
}

@-moz-keyframes cbh-circle-img-anim {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
    10% {
        -moz-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -moz-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -moz-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -moz-transform: rotate(25deg) scale(1) skew(1deg)
    }
    100%,
    50% {
        -moz-transform: rotate(0deg) scale(1) skew(1deg)
    }
}

@-webkit-keyframes cbh-circle-img-anim {
    0% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg)
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    100%,
    50% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg)
    }
}

@media (max-width: 768px) {
  .cbh-phone {
    right: -55px;
    bottom: 10px;
    transform: scale(0.8);
  }
}
